.text{
    text-align: center;

}

.main{
    margin-bottom: 20px;
    font-size: 100px;
    width: 100%;
    height: 25px;
}

.container {
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;
  }

.geez{
    font-weight: bolder;
}